checkpoint/
checkpoint

results/
results

trained_models/
trained_model

dataset
dataset/

ft-training_set
ft-training_set/



diffusers
diffusers/

lora-trained-xl*

output_images
output_images/


pretrained/

xtuner/

*.sbatch
*.out

data/llava_data*

work_dirs/
